* {
  font: bold 11px JetBrainsMono Regular ;
}

@import url("colors-waybar.css");

window#waybar {
  background-color: #000000;
  border-radius: 0px;
	border: 1px solid #f38ba8;
}
#workspaces {
  margin: 10px 2px 10px 2px; /*top right bottom left*/
  padding: 0 10px;
  background-color: @color1;
	color: #000000;
}

#workspaces button {
  color: #000000;
  border-radius: 1px;
  border: none;
  padding: 0 4px;
  margin: 2px 0;
}

#workspaces button:hover {
  box-shadow: none;
  background: #cdd6f4;
}

#custom-diskspace,
#backlight,
#custom-cpufreq,
#custom-yay,
#custom-updater,
#memory,
#custom-power,
#backlight,
#wireplumber,
#network{
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #f38ba8;
}

#clock {
  margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
  padding: 6px 12px;
  color: #000000;
	background-color: @color1;
}

#tray {
	margin: 10px 2px 10px 14px; /*top right bottom left*/
  padding: 0 12px;
	border-bottom: 2px solid @color1;
}


#custom-timeshift {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #f38ba8;
}

#custom-timeshift:hover {
  color: #3699bc;
}

#custom-ani-cli {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #f38ba8;
}

#custom-ani-cli:hover {
  color: #3699bc;
}

#custom-logo {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #339CFF;
}

#custom-logo:hover {
  color: #f38ba8;
}

#network {
  margin: 6px 3px;
  padding: 6px 12px;
  color: #f38ba8;
}

#network:hover {
  color: #3699bc;
}

#battery {
  margin: 6px 3px;
  padding: 6px 12px;
  color: #3699bc;
}

#battery.charging {
  color: #3699bc;
  border-bottom: 2px solid #3699bc;
}


tooltip {
  border-radius: 2px;
  background: linear-gradient(0.28turn, #3699bc, #3cb371, #3699bc);
}

tooltip label {
  color: #cdd6f4;
  border-radius: 2px;
  padding: 16px;
  background-color: #000000;
}
